BOT_TOKEN=8230093876:AAESVpdZcvP9ua1NnPpCExz9iA8w9R6R9VY
SUPER_ADMIN_ID=895844198
SUPPORT_ADMIN_ID=7076299389
DONATEPAY_API_KEY=qJxNxyXRsUBt7Z4tUJm0a4sVpkOoiDCVaeHJAxAJHl48VPVMHmMSNKwFvums
DONATEPAY_WALLET_ID=1472367
DB_PATH=gift_bot.db
